.card{
    width:300px;
    margin:20px auto;
    padding:20px;
    border:1px solid #ddd;
    border-radius:10px;
    text-align:center;

}
.icon{
    font-size:40px;
}
.card h2{
    margin:10px 0;
}

.card p{
    color:#555;
}